* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn {
  width: 200px;
  padding: 10px 20px;
  background-color: #b64a4a;
  font-size: 18px;
  border-radius: 200;
  border: 1px solid #c57373;
}
